Source: libencode-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Dominic Hargreaves <dom@earth.li>,
           gregor herrmann <gregoa@debian.org>,
           Yadd <yadd@debian.org>,
           Florian Schlichting <fsfs@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               perl-xs-dev,
               perl:native
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libencode-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libencode-perl.git
Homepage: https://metacpan.org/release/Encode
Rules-Requires-Root: no

Package: libencode-perl
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Description: module providing interfaces between Perl's strings and the system
 The Encode module provides the interfaces between Perl's strings and the
 rest of the system.
 .
 When Perl is processing "binary data", the programmer wants Perl to process
 "sequences of bytes". This is not a problem for Perl - as a byte has 256
 possible values, it easily fits in Perl's much larger "logical character".
 .
 Encodes a string from Perl's internal form into ENCODING and returns a
 sequence of octets.
